html {
  background: url(sl.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.group-click {
  font-size: 60px;
  color: black;
}

.tagprops {
  font-size: 45px;
}

.formevent {
  color: white;
}
